{% extends 'store/main copy.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin: 100px 0px 80px">
	<section class="py-5 bg-light">
		<div class="container">
		<div class="row px-4 px-lg-5 py-lg-4 align-items-center">
			<div class="col-lg-6">
			<h1 class="h2 text-uppercase mb-0">Checkout</h1>
			</div>
			<div class="col-lg-6 text-lg-right">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-lg-end mb-0 px-0">
				<li class="breadcrumb-item"><a href="{% url 'store' %}">Domov</a></li>
				<li class="breadcrumb-item"><a href="{% url 'cart' %}">Košík</a></li>
				<li class="breadcrumb-item active" aria-current="page">Checkout</li>
				</ol>
			</nav>
			</div>
		</div>
		</div>
	</section>

	<section class="py-5">
		<!-- BILLING ADDRESS-->
		<h2 class="h5 text-uppercase mb-4">fakturačné údaje</h2>
		<div class="row">
		  <div class="col-lg-8">
			<form id="form">
				<div id="user-info">
					<div class="row">
						<div class="col-lg-6 form-group">
						<label class="text-small text-uppercase" for="firstName">Krstné meno</label>
						<input class="form-control form-control-lg" id="firstName" type="text" name="first_name" placeholder="Vložte svoje krstné meno" required>
						</div>
						<div class="col-lg-6 form-group">
						<label class="text-small text-uppercase" for="lastName">Prezvisko</label>
						<input class="form-control form-control-lg" id="lastName" type="text" name="name" placeholder="Vložte svoje priezvisko" required>
						</div>
						<div class="col-lg-6 form-group">
						<label class="text-small text-uppercase" for="email">Emailová adresa</label>
						<input class="form-control form-control-lg" id="email" type="email" name="email" placeholder="e.g. VasMail@priklad.com" required>
						</div>
						<div class="col-lg-6 form-group">
						<label class="text-small text-uppercase" for="phone">Telefónne číslo</label>
						<input class="form-control form-control-lg" id="phone" type="tel" name="phone" placeholder="e.g. +421 945187399" required>
						</div>
					</div>
				</div>
			
					<div id="shipping-info">

						<div class="col-lg-12 form-group" style="padding-right: 0px;  padding-left: 0px;">
						<label class="text-small text-uppercase" for="country">Krajna</label>
							<select class="custom-select d-block w-100" id="country" data-width="fit" name="state" data-style="form-control form-control-lg" data-title="Select your country">
							<option class="text-small text-uppercase" value="">Vyberte...</option>
							<option>Slovensko</option>
							</select>
						</div>
						<div class="col-lg-12 form-group" style="padding-right: 0px;  padding-left: 0px;">
							<label class="text-small text-uppercase" for="address">Adresa</label>
							<input class="form-control form-control-lg" id="address" type="text" name="address" placeholder="Názov ulice a číslo domu">
						</div>
							<div class="row">
								<div class="col-lg-6 form-group">
									<label class="text-small text-uppercase" for="city">Mesto</label>
									<input class="form-control form-control-lg" id="city" name="city" type="text" required>
								</div>
								<div class="col-lg-6 form-group">
									<label class="text-small text-uppercase" for="state">PSČ</label>
									<input class="form-control form-control-lg" id="zipcode" name="zipcode" type="text" required>
								</div>
							</div>
						<div class="col-lg-12 form-group" style="padding-right: 0px;  padding-left: 0px;">
							<label class="text-small text-uppercase" for="type_of_delivery">Spôsob doručenia</label>
								<select class="custom-select d-block w-100" id="type_of_delivery" data-width="fit" name="type_of_delivery" data-style="form-control form-control-lg" data-title="Vyberte spôsob doručenia">
								<option class="text-small text-uppercase" value="">Vyberte...</option>
								<option>Kurier</option>
								<option>Odberné miesto</option>
								</select>
							</div>
					</div>
				


				<div class="col-lg-12">
				  <input id="form-button" class="btn btn-success btn-block btn-dark" type="submit" value="Vybrať spôsob platby">
				</div>
			  </div>
			</form>

		
		  <!-- ORDER SUMMARY-->
		  <div class="col-lg-4">
			<div class="card border-0 rounded-0 p-lg-4 bg-light">
			  <div class="card-body">
				<h5 class="text-uppercase mb-4">Vaša objednávka</h5>
				<ul class="list-unstyled mb-0">
					{% for item in items %}
				  	<li class="d-flex align-items-center justify-content-between"><strong class="small font-weight-bold">{{item.product.name}}</strong><span class="text-muted small">{{item.quantity}}x</span><span class="text-muted small">{{item.product.price|floatformat:2}}€</span></li>
					<li class="border-bottom my-2"></li>
					{% endfor %}

					{% if coupon %}
					<li class="d-flex align-items-center justify-content-between"><strong class="small font-weight-bold">"{{coupon}}" Promo code</strong><span class="text-muted small">- {{ammount|floatformat:0}}%</span></li>
					<li class="border-bottom my-2"></li>
					{% endif %}
				  
				  <li class="d-flex align-items-center justify-content-between"><strong class="text-uppercase small font-weight-bold">Spolu</strong><span>{{order.get_cart_total|floatformat:2}}€</span></li>
				</ul>
			  </div>
			</div>
		  </div>
		 	 <div class="hidden col-lg-8" id="payment-info">
				<button class="col-12 mb-3 btn-warning" onclick="addTypeOfPay()" style="height: 56.99306px; border-radius: 4px;">Na dobierku</button>
				<div id="paypal-button-container"></div>
				<div></div>
			</div>
		</div>
	  </section>
</div>

	<script src="https://www.paypal.com/sdk/js?client-id=AWmNXrZincV8qpKxvNfzf5hXVlFx7ZfbooOTo9c8zbEw1YKmQN9KWq0fIHvblrS6akCjUdyuV7_o8V5v&currency=EUR&disable-funding=credit"></script>

	<script>

		var total = '{{order.get_cart_total}}'
			
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

        	style: {
                color:  'blue',
                shape:  'rect',
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
							value:parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    submitFormData()
                });
            }

        }).render('#paypal-button-container');
    </script>
	

	<script type="text/javascript">
		var shipping = '{{order.shipping}}'

		if (shipping == 'False'){
		 	document.getElementById('shipping-info').innerHTML = ''
		}

		if (user != 'AnonymousUser'){
		 	document.getElementById('user-info').innerHTML = ''
		 }

		if (shipping == 'False' && user != 'AnonymousUser'){
			//Hide entire form if user is logged in and shipping is false
				document.getElementById('form-wrapper').classList.add("hidden");
				//Show payment if logged in user wants to buy an item that does not require shipping
			    document.getElementById('payment-info').classList.remove("hidden");
		}

		var form = document.getElementById('form')
		form.addEventListener('submit', function(e){
	    	e.preventDefault()
	    	console.log('Form Submitted...')
	    	document.getElementById('form-button').classList.add("hidden");
	    	document.getElementById('payment-info').classList.remove("hidden");
	    })

	    function submitFormData(){
	    	console.log('Payment button clicked')

	    	var userFormData = {
				'name':null,
				'first_name': null,
				'email':null,
				'phone':null,
				'total':total,
			}

			var shippingInfo = {
				'address':null,
				'city':null,
				'state':null,
				'zipcode':null,
				'type_of_delivery':null,
			}

			if (shipping != 'False'){
	    		shippingInfo.address = form.address.value
		    	shippingInfo.city = form.city.value
		    	shippingInfo.state = form.state.value
		    	shippingInfo.zipcode = form.zipcode.value
				shippingInfo.type_of_delivery = form.type_of_delivery.value
	    	}

	    	if (user == 'AnonymousUser'){
	    		userFormData.name = form.name.value +  " " +  form.first_name.value
				userFormData.email = form.email.value
				userFormData.phone = form.phone.value
	    	}

	    	console.log('Shipping Info:', shippingInfo)
	    	console.log('User Info:', userFormData)

	    	var url = "/process_order/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
	    		}, 
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
	    		
	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				console.log('Success:', data);
				alert('Transaction completed');  

				cart = {temporary_id : uuidv4()}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
				window.location.href = "{% url 'store' %}"

				})
	    }
	</script>
{% endblock content %}



