<script>
    $(document).on("click", ".update-detail", function (e) {
      e.preventDefault();
    //   debugger;
      var $popup = $("#popup");
      var popup_url = $(this).data("popup-url");
      $(".modal-body", $popup).load(popup_url, function () {
        $popup.modal("show");
      });
    });
  </script>


<div id="popup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body"></div>
      </div>
    </div>
</div>