{% load static %}
  
<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
<div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="/ ">
    <strong class="">BFRBands</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Left -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
           <a class="nav-link active" href="/ ">Domov</a>
        </li>
        {% comment %}<li class="nav-item"><a class="nav-link" href="{% url 'store_list' %}"> <i class="fas mr-1 text-gray"></i>Obchod</a></li> {% endcomment %}
        {% comment %}
        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profil</a></li>
        {% endif %}
        {% endcomment %}
    </ul>

    <!-- Right -->
    
    <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'cart' %}">
              <i class="fas fa-dolly-flatbed mr-1 text-gray"></i>
              <span class="clearfix d-none d-sm-inline-block"> Košík </span>
              {% if cartItems != 0%}
              <small class="text-gray">({{cartItems}})</small>
              {% else %}
              <small class="text-gray"></small>
              {% endif %}
            </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}"> <i class="fas fa-user-alt mr-1 text-gray"></i>Odhlásenie</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}"> <i class="fas fa-user-alt mr-1 text-gray"></i>Prihlásenie</a></li>
        {% endif %}
    </ul>

    </div>

</div>
</nav>

<!-- Navbar -->