

  {% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container" style="margin: 100px 0px 80px">
  <main>
    <section class="py-5 bg-light mb-5">
      <div class="container">
        <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
        <div class="col-lg-6">
          <h1 class="h2 text-uppercase mb-0">Registrácia</h1>
        </div>
        <div class="col-lg-6 text-lg-right">
          <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
            <li class="breadcrumb-item"><a href="{% url 'store' %}">Domov</a></li>
            <li class="breadcrumb-item active"><a>Informacie užívateľa</a></li>
          </ol>
          </nav>
        </div>
        </div>
      </div>
      </section>
    <div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
            <h1>Doplňujúce infromácie</h1>
            <p>Je nutné vyplniť požadujúce infromácie v prípade zasielania objednávky.</p>
             <form method="post">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <button class="btn btn-primary btn-dark" onclick="window.location='/';" type="submit">Vytvoriť účet</button>
              </form>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
{% endblock %}